body{
    background-color: #ffe4e1;
    margin: auto;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 15px;

}
u{
    background-color: #f0ffff;
    /* border: 2px solid skyblue; */
}
.sahil{
    /* background-color: aquamarine; */
}

img{
    transition: 0.5s;
}
img:hover{
    transform: translatey(-4px);
}

.end{
    padding-right: 30px;
    padding-left: 30px;
}

@media only screen and (max-width:500px) {

    body{
       width: 100%; 
    }
/* 
    img{
        width: 100%;
    }
     */
}